AiPowered_Applicant_Tracking_System (1).json
{
  "name": "AiPowered_Applicant_Tracking_System",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "hireflow-apply",
        "options": {}
      },
      "id": "04b78578-31ac-4738-af58-262fa166df14",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1120,
        608
      ],
      "webhookId": "f9cafbad-d647-4ca4-8d6a-200c0083e6e2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analyze this resume and provide a hiring score out of 100: {{ $json.final_resume_text }}\nEmail: {{ $('Webhook').item.json.body.email }}",
        "options": {
          "systemMessage": "=### ROLE\nYou are a strict \"Senior Engineering Manager\" hiring for an AI & Automation Specialist - Learning & Design team. You have 200+ applicants. Your job is to filter aggressively. Only the top 20% should score above 60. Most candidates should score between 20–50.\n\n### SCORING GUIDELINES (Total 100)\n\n**1. Technical Proficiency (0–40 points)**\n- 35–40: Hands-on Python/JS/n8n/automation with real deployed projects\n- 25–34: Strong backend (Java/Go/C++) OR one AI/automation tool with projects\n- 15–24: Some coding experience, no automation, mostly academic projects\n- 5–14: Basic coding only, no real projects, purely theoretical knowledge\n- 0–4: No technical evidence whatsoever\n\n**2. Communication & Design Sense (0–30 points)**\n- 25–30: Content creation, teaching, UI/UX, public speaking WITH evidence\n- 18–24: Technical writing, leadership, well-structured resume with clear impact\n- 10–17: Average resume structure, some soft skill mentions but no evidence\n- 3–9: Poorly structured resume, vague descriptions, no communication evidence\n- 0–2: Incomprehensible or completely unstructured\n\n**3. Builder Mindset (0–30 points)**\n- 25–30: Multiple shipped projects solving real problems, freelance work, or hackathon wins\n- 18–24: 1–2 completed side projects with clear outcomes\n- 10–17: Academic/course projects only, no independent building\n- 3–9: Mentioned projects but no details, no links, no outcomes\n- 0–2: No projects whatsoever\n\n### SCORE DISTRIBUTION RULES — FOLLOW STRICTLY\n- 75–100 → \"Interview\" — Exceptional candidate, rare, max 15% of applicants\n- 45–74  → \"Review\"   — Shows potential but needs human judgment\n- 0–44   → \"Reject\"   — Does not meet minimum bar for this role\n\n### STRICT RULES\n- Do NOT be generous. A candidate with only college projects and no automation experience should score 20–35.\n- Do NOT give above 60 unless you see real shipped work with measurable impact.\n- Do NOT round up scores. If unsure between 44 and 45, choose 44.\n- A clean resume alone does NOT earn communication points without evidence.\n- Transferable skills are valid BUT only if the candidate has demonstrated them in real projects.\n\n### MANDATORY OUTPUT FORMAT\nReturn ONLY a valid JSON object. No markdown.\n{\n  \"candidate_name\": \"Full Name\",\n  \"candidate_email\": \"Email Address (or null)\",\n  \"hiring_score\": (Integer 0-100),\n  \"recommendation\": \"Strictly choose one value: 'Interview' OR 'Review' OR 'Reject'\",\n  \"key_insights\": [\n    \"Insight 1 (Top Technical Strength)\",\n    \"Insight 2 (Communication/Soft Skill)\",\n    \"Insight 3 (Gap or Area for Growth)\"\n  ],\n  \"email_feedback\": \"If score is below 45 (Reject), write a helpful 2-sentence explanation. FIRST sentence: Compliment a specific strength. SECOND sentence: Explain the exact gap. NEVER mention the score.\"\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1120,
        352
      ],
      "id": "65ddc24e-1208-4e70-8189-5d102330ae27",
      "name": "Agent for PDF reviews"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "60d96269-8b50-4f24-9d0c-7e3f1d6cb118",
              "leftValue": "={{ $json.mimeType }}",
              "rightValue": "pdf",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "3e608c1f-89de-4c30-96cc-9c1272045ae9",
              "leftValue": "={{ $json.mimeType }}",
              "rightValue": "application/vnd.openxmlformats-officedocument.wordprocessingml.document",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -448,
        608
      ],
      "id": "f041f2e7-e36e-4338-afea-f102dc3b6a77",
      "name": "Pdf or not?"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analyze this resume and provide a hiring score out of 100: \nEmail: {{ $('Webhook').item.json.body.email }}\nText: {{ $json.ParsedResults[0].ParsedText }}",
        "options": {
          "systemMessage": "=### ROLE\nYou are a strict \"Senior Engineering Manager\" hiring for an AI & Automation Specialist - Learning & Design team. You have 200+ applicants. Your job is to filter aggressively. Only the top 20% should score above 60. Most candidates should score between 20–50.\n\n### SCORING GUIDELINES (Total 100)\n\n**1. Technical Proficiency (0–40 points)**\n- 35–40: Hands-on Python/JS/n8n/automation with real deployed projects\n- 25–34: Strong backend (Java/Go/C++) OR one AI/automation tool with projects\n- 15–24: Some coding experience, no automation, mostly academic projects\n- 5–14: Basic coding only, no real projects, purely theoretical knowledge\n- 0–4: No technical evidence whatsoever\n\n**2. Communication & Design Sense (0–30 points)**\n- 25–30: Content creation, teaching, UI/UX, public speaking WITH evidence\n- 18–24: Technical writing, leadership, well-structured resume with clear impact\n- 10–17: Average resume structure, some soft skill mentions but no evidence\n- 3–9: Poorly structured resume, vague descriptions, no communication evidence\n- 0–2: Incomprehensible or completely unstructured\n\n**3. Builder Mindset (0–30 points)**\n- 25–30: Multiple shipped projects solving real problems, freelance work, or hackathon wins\n- 18–24: 1–2 completed side projects with clear outcomes\n- 10–17: Academic/course projects only, no independent building\n- 3–9: Mentioned projects but no details, no links, no outcomes\n- 0–2: No projects whatsoever\n\n### SCORE DISTRIBUTION RULES — FOLLOW STRICTLY\n- 75–100 → \"Interview\" — Exceptional candidate, rare, max 15% of applicants\n- 45–74  → \"Review\"   — Shows potential but needs human judgment\n- 0–44   → \"Reject\"   — Does not meet minimum bar for this role\n\n### STRICT RULES\n- Do NOT be generous. A candidate with only college projects and no automation experience should score 20–35.\n- Do NOT give above 60 unless you see real shipped work with measurable impact.\n- Do NOT round up scores. If unsure between 44 and 45, choose 44.\n- A clean resume alone does NOT earn communication points without evidence.\n- Transferable skills are valid BUT only if the candidate has demonstrated them in real projects.\n\n### MANDATORY OUTPUT FORMAT\nReturn ONLY a valid JSON object. No markdown.\n{\n  \"candidate_name\": \"Full Name\",\n  \"candidate_email\": \"Email Address (or null)\",\n  \"hiring_score\": (Integer 0-100),\n  \"recommendation\": \"Strictly choose one value: 'Interview' OR 'Review' OR 'Reject'\",\n  \"key_insights\": [\n    \"Insight 1 (Top Technical Strength)\",\n    \"Insight 2 (Communication/Soft Skill)\",\n    \"Insight 3 (Gap or Area for Growth)\"\n  ],\n  \"email_feedback\": \"If score is below 45 (Reject), write a helpful 2-sentence explanation. FIRST sentence: Compliment a specific strength. SECOND sentence: Explain the exact gap. NEVER mention the score.\"\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1120,
        864
      ],
      "id": "123a1f2e-6de9-4a99-bbab-8e20e7ffd270",
      "name": "Agent for image"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.ocr.space/parse/image",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "File",
              "inputDataFieldName": "data"
            },
            {
              "name": "apikey",
              "value": "K87777371888957"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        896,
        864
      ],
      "id": "c8c65c02-164a-4fea-aa4a-dbdf67379e14",
      "name": "Image analyze"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -224,
        384
      ],
      "id": "b723128c-5729-4b5c-b336-ac69215dd8af",
      "name": "Extract from PDF"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-20b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        1200,
        576
      ],
      "id": "e4a03ba7-7454-407e-a78e-6b569b4fe083",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "zIEhPVGfK1pbN5F3",
          "name": "Groq api"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "text": "=You are an advanced Resume OCR & Parsing System. Your ONLY job is to extract 100% of the text from this resume image into clean Markdown. Do NOT score, evaluate, or summarize anything.\n\n**CRITICAL EXTRACTION RULES:**\n\n1. **Capture Everything:** Transcribe every single word — headers, footers, sidebars, small captions, dates, percentages, URLs. Nothing gets skipped or summarized.\n\n2. **Handle Layouts Smartly:** If the resume has a 2-column layout (Skills on left, Experience on right), process each column as a separate logical section. Never mix lines from different columns.\n\n3. **Preserve These Exactly:**\n   - Tool names: n8n, Python, JavaScript, API, LLM, GPT, etc. — no spelling correction\n   - URLs: GitHub, LinkedIn, Portfolio links — copy character by character\n   - Metrics: \"increased sales by 40%\", \"10,000 users\", \"3 years\" — preserve all numbers\n   - Project names and descriptions — these are critical, do not shorten\n\n4. **OCR Error Correction:** Fix obvious scan errors contextually only for garbled words (e.g., \"Pyth0n\" → \"Python\", \"JavaScrlpt\" → \"JavaScript\"). Do not change anything else.\n\n5. **Sections to prioritize:** Projects, Work Experience, Skills, Certifications, GitHub/Portfolio links. These carry the most weight in downstream evaluation.\n\n**OUTPUT FORMAT:**\nReturn the full resume content in clean Markdown with proper section headers (##). Do not add any commentary, scores, or opinions. Raw extracted text only.",
        "inputType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        448,
        560
      ],
      "id": "af736319-a091-4774-9649-9d2429305c61",
      "name": "Analyze an image",
      "credentials": {
        "googlePalmApi": {
          "id": "VRPkwPfjgRKlEPH4",
          "name": "Google Gemini(PaLM) api 1"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        224,
        560
      ],
      "id": "c9d0d9f6-76de-4c6b-9597-e7dcff96e72c",
      "name": "Merge"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Takes the text found by the PDF extractor\nreturn {\n  json: {\n    final_resume_text: $input.item.json.text\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        336
      ],
      "id": "7dfe22cb-728a-4740-a268-c0cbef83c5fa",
      "name": "Normalize the text"
    },
    {
      "parameters": {
        "jsCode": "// Takes the text found by Gemini Vision\nreturn {\n  json: {\n    final_resume_text: $input.item.json.content.parts[0].text\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        560
      ],
      "id": "14cc537e-b84d-49cf-a95d-a867fe0b6c6d",
      "name": "Normalize the text of gemini"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        896,
        464
      ],
      "id": "512d9308-e9c2-4904-923c-9e9c3a819e9e",
      "name": "Merge1"
    },
    {
      "parameters": {
        "jsCode": "// 1. Get raw text from the AI Agent node\nlet aiText = $input.first().json.output || $input.first().json.response;\n\n// 2. GET USER DATA FROM WEBHOOK\nconst submittedName = $('Webhook').first().json.body.name || \"Unknown Candidate\";\nconst submittedEmail = $('Webhook').first().json.body.email || \"No Email\";\nconst submittedPhone = $('Webhook').first().json.body.phone || \"No Phone\";\n\n// 3. Extract JSON boundaries\nconst firstBrace = aiText.indexOf('{');\nconst lastBrace = aiText.lastIndexOf('}');\n\n// ERROR HANDLING\nif (firstBrace === -1 || lastBrace === -1) {\n  return {\n    \"Contact_Info\": `• Name: ${submittedName}\\n• Email: ${submittedEmail}\\n• Phone: ${submittedPhone}`,\n    \"Hiring_Score\": 0,\n    \"Recommendation\": \"Error\",\n    \"Insights\": \"• AI failed to produce valid JSON\",\n    \"Feedback\": \"\"\n  };\n}\n\n// 4. Parse AI Data\nlet cleanJson = aiText.substring(firstBrace, lastBrace + 1);\nlet aiData = {};\n\ntry {\n  aiData = JSON.parse(cleanJson.replace(/[\\u0000-\\u001F\\u007F-\\u009F]/g, \"\"));\n} catch (e) {\n    // FALLBACK: Manual extraction\n    const scoreMatch = cleanJson.match(/\"hiring_score\"\\s*:\\s*\"?(\\d+)\"?/);\n    const recMatch = cleanJson.match(/\"recommendation\"\\s*:\\s*\"([^\"]+)\"/);\n    const feedbackMatch = cleanJson.match(/\"email_feedback\"\\s*:\\s*\"([^\"]+)\"/);\n    \n    const insightSection = cleanJson.match(/\"key_insights\"\\s*:\\s*\\[([\\s\\S]*?)\\]/);\n    let extractedInsights = [];\n    if (insightSection && insightSection[1]) {\n        extractedInsights = insightSection[1]\n            .split(/\",\"|\",\\s*\"/)\n            .map(item => item.replace(/[\\[\\]\"']/g, \"\").trim())\n            .filter(item => item.length > 3);\n    }\n\n    aiData = {\n        hiring_score: scoreMatch ? scoreMatch[1] : 0,\n        recommendation: recMatch ? recMatch[1] : \"Review Required\",\n        key_insights: extractedInsights.length > 0 ? extractedInsights : [\"Could not format insights automatically\"],\n        email_feedback: feedbackMatch ? feedbackMatch[1] : \"\"\n    };\n}\n\n// 5. Format Insights\nlet rawInsights = aiData.key_insights || aiData.insights || [];\nlet formattedInsights = \"\";\nif (Array.isArray(rawInsights)) {\n    formattedInsights = rawInsights.map(i => `• ${i}`).join('\\n');\n} else {\n    formattedInsights = rawInsights.split('. ').map(i => `• ${i.trim()}`).join('\\n');\n}\n\n// 6. CREATE THE \"CONTACT INFO\" BLOCK\nconst formattedContactInfo = `• Name: ${submittedName}\\n• Email: ${submittedEmail}\\n• Phone: ${submittedPhone}`;\n\n\n// --- INTELLIGENT FEEDBACK FIX ---\nlet finalScore = parseInt(aiData.hiring_score) || 0;\nlet finalRecommendation = aiData.recommendation || \"Review\";\nlet finalFeedback = aiData.email_feedback || \"\";\n\n// If score is less than 45, FORCE REJECT\nif (finalScore < 45) {\n    finalRecommendation = \"Reject\";\n    \n    // Check if AI provided good feedback. If not, generate it from the \"Gap Insight\".\n    if (!finalFeedback || finalFeedback.length < 5) {\n        \n        let gapInsight = \"\";\n        // Try to grab the last insight (usually the gap/missing skill)\n        if (Array.isArray(rawInsights) && rawInsights.length > 0) {\n             gapInsight = rawInsights[rawInsights.length - 1]; \n        }\n        \n        if (gapInsight && gapInsight.length > 5) {\n             // 1. Remove parentheses (e.g., \"(Basic level)\")\n             let cleanGap = gapInsight.replace(/[()]/g, '');\n             \n             // 2. CRITICAL FIX: Remove negative prefixes like \"Lack of\", \"No\", \"Missing\"\n             // This turns \"Lack of Python\" into just \"Python\"\n             cleanGap = cleanGap.replace(/^(Lack of|No|Missing|Limited|Gap in)\\s+/i, '');\n\n             // 3. Construct the clean sentence\n             finalFeedback = `While your background is impressive, we are currently prioritizing candidates with stronger experience in ${cleanGap}.`;\n        } else {\n             finalFeedback = \"At this time, we are seeking candidates whose specific technical experience more closely aligns with the immediate requirements of our current projects.\";\n        }\n    }\n}\n// ----------------------------------\n\n\n// 7. RETURN FINAL DATA\nreturn {\n  \"Contact_Info\": formattedContactInfo,\n  \"Hiring_Score\": finalScore,\n  \"Recommendation\": finalRecommendation,\n  \"Insights\": formattedInsights,\n  \"Feedback\": finalFeedback \n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1472,
        656
      ],
      "id": "aa1655e6-06ee-4a0b-b651-b6ac0f346ef9",
      "name": "Final fields to add"
    },
    {
      "parameters": {
        "inputDataFieldName": "resume",
        "name": "=Resume of candidate: {{ $json.body.email }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1Y8NyrWaT0JB_0OAI5NVWAfftyFjHxjoz",
          "mode": "list",
          "cachedResultName": "Resumes of candidates",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1Y8NyrWaT0JB_0OAI5NVWAfftyFjHxjoz"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -896,
        608
      ],
      "id": "a14f1540-6e18-40a8-b34d-12616eece3fe",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "xbZtGkxomu83DzA6",
          "name": "GD Swaraj 1"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -672,
        608
      ],
      "id": "469f25b8-7212-4577-b28a-b05c047017e3",
      "name": "download binary",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "xbZtGkxomu83DzA6",
          "name": "GD Swaraj 1"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1LzpItjl8p9T9fkENUOMzw2BgbH8lTFK3-HXgCsnyDsY",
          "mode": "list",
          "cachedResultName": "Candidate Resume reviews",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LzpItjl8p9T9fkENUOMzw2BgbH8lTFK3-HXgCsnyDsY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 857245978,
          "mode": "list",
          "cachedResultName": "interview candidates",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LzpItjl8p9T9fkENUOMzw2BgbH8lTFK3-HXgCsnyDsY/edit#gid=857245978"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Contact Information": "={{ $json.Contact_Info }}",
            "Hiring_Score:": "={{ $json.Hiring_Score }}",
            "Recommendation:": "={{ $json.Recommendation }}",
            "Insights:": "={{ $json.Insights }}",
            "Resume uploaded": "={{ $('download binary').item.json.webViewLink }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Contact Information",
              "displayName": "Contact Information",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Hiring_Score:",
              "displayName": "Hiring_Score:",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Recommendation:",
              "displayName": "Recommendation:",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Insights:",
              "displayName": "Insights:",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Resume uploaded",
              "displayName": "Resume uploaded",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2144,
        576
      ],
      "id": "b3197978-a7ff-47ff-8ef5-94c963bcf0b6",
      "name": "Interview candidates",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "K0DN3bdKFTC61eIn",
          "name": "Candiate Resume Reviews"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1LzpItjl8p9T9fkENUOMzw2BgbH8lTFK3-HXgCsnyDsY",
          "mode": "list",
          "cachedResultName": "Candidate Resume reviews",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LzpItjl8p9T9fkENUOMzw2BgbH8lTFK3-HXgCsnyDsY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 461523695,
          "mode": "list",
          "cachedResultName": "Review candidates",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LzpItjl8p9T9fkENUOMzw2BgbH8lTFK3-HXgCsnyDsY/edit#gid=461523695"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Hiring_Score:": "={{ $json.Hiring_Score }}",
            "Contact Information": "={{ $json.Contact_Info }}",
            "Recommendation:": "={{ $json.Recommendation }}",
            "Insights:": "={{ $json.Insights }}",
            "Resume uploaded": "={{ $json.Feedback }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Contact Information",
              "displayName": "Contact Information",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Hiring_Score:",
              "displayName": "Hiring_Score:",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Recommendation:",
              "displayName": "Recommendation:",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Insights:",
              "displayName": "Insights:",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Resume uploaded",
              "displayName": "Resume uploaded",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2144,
        960
      ],
      "id": "da254de6-10d1-4d37-9447-1324dda44f7f",
      "name": "Review candidates",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "K0DN3bdKFTC61eIn",
          "name": "Candiate Resume Reviews"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "7b35236b-9bfb-4f04-80b7-9e14fb9e04ff",
                    "leftValue": "={{ $json.Recommendation }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1696,
        656
      ],
      "id": "1b34f8fd-a4f3-4430-b5ce-023bb1cadb87",
      "name": "All profile & sort profiles"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.Recommendation }}",
                    "rightValue": "Interview",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "a05a78ea-4b6c-405e-bcfa-9d1071a634ab"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "8be1193f-bf58-4f1c-92ce-83876648fa8f",
                    "leftValue": "={{ $json.Recommendation }}",
                    "rightValue": "Review",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "184ffba9-b97e-4439-bd8a-89f3050a7074",
                    "leftValue": "={{ $json.Recommendation }}",
                    "rightValue": "Reject",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1920,
        832
      ],
      "id": "e91aec39-58c8-4fdb-82a4-c4988ab0c17f",
      "name": "Sorting profiles"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1LzpItjl8p9T9fkENUOMzw2BgbH8lTFK3-HXgCsnyDsY",
          "mode": "list",
          "cachedResultName": "Candidate Resume reviews",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LzpItjl8p9T9fkENUOMzw2BgbH8lTFK3-HXgCsnyDsY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "All candidates",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LzpItjl8p9T9fkENUOMzw2BgbH8lTFK3-HXgCsnyDsY/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Insights:": "={{ $json.Insights }}",
            "Recommendation:": "={{  $json.Recommendation }}",
            "Hiring_Score:": "={{ $json.Hiring_Score }}",
            "Resume uploaded": "={{ $('download binary').item.json.webViewLink }}",
            "Contact Information": "={{ $json.Contact_Info }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Contact Information",
              "displayName": "Contact Information",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Hiring_Score:",
              "displayName": "Hiring_Score:",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Recommendation:",
              "displayName": "Recommendation:",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Insights:",
              "displayName": "Insights:",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Resume uploaded",
              "displayName": "Resume uploaded",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1920,
        560
      ],
      "id": "bcf6a088-8a82-4d1a-a7d6-2af5b1e0990e",
      "name": "All candidates",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "K0DN3bdKFTC61eIn",
          "name": "Candiate Resume Reviews"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "76c6b265-0092-45e2-aca6-b7bafa596463",
              "leftValue": "={{ $json.text.length }}",
              "rightValue": 100,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        0,
        384
      ],
      "id": "d562402e-b33e-4eca-81df-134d8af0aa3d",
      "name": "<100 sort"
    },
    {
      "parameters": {
        "jsCode": "for (const item of items) {\n  if (item.binary && item.binary.data) {\n    // This forces the system to see it as a PNG image\n    item.binary.data.fileName = 'resume.png';\n    item.binary.data.fileExtension = 'png';\n    item.binary.data.mimeType = 'image/png';\n  }\n}\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        864
      ],
      "id": "937e72e3-1e1b-4fbf-8cfa-7f1f0e110b03",
      "name": "Only png"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1LzpItjl8p9T9fkENUOMzw2BgbH8lTFK3-HXgCsnyDsY",
          "mode": "list",
          "cachedResultName": "Candidate Resume reviews",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LzpItjl8p9T9fkENUOMzw2BgbH8lTFK3-HXgCsnyDsY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2066210456,
          "mode": "list",
          "cachedResultName": "Rejected candidates",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LzpItjl8p9T9fkENUOMzw2BgbH8lTFK3-HXgCsnyDsY/edit#gid=2066210456"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Insights:": "={{ $json.Insights }}",
            "Recommendation:": "={{ $json.Recommendation }}",
            "Hiring_Score:": "={{ $json.Hiring_Score }}",
            "Contact Information": "={{ $json.Contact_Info }}",
            "Resume uploaded": "={{ $('download binary').item.json.webViewLink }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Contact Information",
              "displayName": "Contact Information",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Hiring_Score:",
              "displayName": "Hiring_Score:",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Recommendation:",
              "displayName": "Recommendation:",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Insights:",
              "displayName": "Insights:",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Resume uploaded",
              "displayName": "Resume uploaded",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2144,
        1168
      ],
      "id": "7d47e198-ba9d-48f7-9b0f-631219639d71",
      "name": "Reject Candidate",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "K0DN3bdKFTC61eIn",
          "name": "Candiate Resume Reviews"
        }
      }
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-20b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        1200,
        1088
      ],
      "id": "5c2e0afc-bc08-4fec-b14e-e6c3e5dfc09d",
      "name": "Groq Chat Model1",
      "credentials": {
        "groqApi": {
          "id": "zIEhPVGfK1pbN5F3",
          "name": "Groq api"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "=swarajshelke392@gmail.com",
        "subject": "=Interview Candidate",
        "message": "=<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <meta charset=\"UTF-8\" />\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\"/>\n  <title>HireFlow - Candidate Selected for Interview</title>\n</head>\n<body style=\"margin:0; padding:0; background-color:#f1f5f9; font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;\">\n\n  <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background-color:#f1f5f9; padding: 40px 0;\">\n    <tr>\n      <td align=\"center\">\n        <table width=\"600\" cellpadding=\"0\" cellspacing=\"0\" style=\"background-color:#ffffff; border-radius:8px; overflow:hidden; box-shadow: 0 4px 20px rgba(0,0,0,0.08);\">\n\n          <!-- HEADER -->\n          <tr>\n            <td style=\"background-color:#0f172a; padding: 28px 40px;\">\n              <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\">\n                <tr>\n                  <td>\n                    <h1 style=\"margin:0; color:#ffffff; font-size:22px; font-weight:700; letter-spacing:1px;\">\n                      HIRE<span style=\"color:#3b82f6;\">FLOW</span>\n                    </h1>\n                    <p style=\"margin:4px 0 0 0; color:#94a3b8; font-size:11px; letter-spacing:2px; text-transform:uppercase;\">Applicant Tracking System</p>\n                  </td>\n                  <td align=\"right\">\n                    <span style=\"background-color:#22c55e; color:#ffffff; font-size:11px; font-weight:700; padding:6px 14px; border-radius:20px; letter-spacing:1px; text-transform:uppercase;\">\n                      ✓ Interview Scheduled\n                    </span>\n                  </td>\n                </tr>\n              </table>\n            </td>\n          </tr>\n\n          <!-- HERO BANNER -->\n          <tr>\n            <td style=\"background: linear-gradient(135deg, #1e3a5f 0%, #1d4ed8 100%); padding: 36px 40px; text-align:center;\">\n              <p style=\"margin:0 0 10px 0; font-size:30px;\">🏆</p>\n              <h2 style=\"margin:0 0 8px 0; color:#ffffff; font-size:24px; font-weight:700;\">New Candidate Selected!</h2>\n              <p style=\"margin:0; color:#bfdbfe; font-size:14px;\">A candidate has been shortlisted and invited for interview</p>\n            </td>\n          </tr>\n\n          <!-- BODY -->\n          <tr>\n            <td style=\"padding: 36px 40px 20px 40px;\">\n\n              <p style=\"margin:0 0 20px 0; color:#475569; font-size:15px; line-height:1.7;\">\n                Hi <strong style=\"color:#1e293b;\">HR Team</strong>, 👋<br/>\n                The AI pipeline has shortlisted the following candidate for the <strong style=\"color:#1e293b;\">AI &amp; Automation Specialist – Learning &amp; Design</strong> role. An interview invitation has already been sent to them automatically.\n              </p>\n\n              <!-- CANDIDATE CARD -->\n              <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background-color:#f8fafc; border:1px solid #e2e8f0; border-radius:8px; margin-bottom:24px;\">\n                <tr>\n                  <td style=\"background-color:#0f172a; padding:14px 24px; border-radius:8px 8px 0 0;\">\n                    <p style=\"margin:0; color:#94a3b8; font-size:11px; font-weight:700; text-transform:uppercase; letter-spacing:1.5px;\">👤 &nbsp; Candidate Profile</p>\n                  </td>\n                </tr>\n                <tr>\n                  <td style=\"padding:20px 24px;\">\n                    <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\">\n\n                      <!-- Contact Info -->\n                      <tr>\n                        <td style=\"padding-bottom:14px; border-bottom:1px solid #e2e8f0;\">\n                          <p style=\"margin:0 0 6px 0; color:#94a3b8; font-size:11px; text-transform:uppercase; letter-spacing:1px;\">Contact Information</p>\n                          <p style=\"margin:0; color:#1e293b; font-size:14px; font-weight:600; white-space:pre-line;\">{{ $('All profile & sort profiles').item.json.Contact_Info }}</p>\n                        </td>\n                      </tr>\n\n                      <!-- Score -->\n                      <tr>\n                        <td style=\"padding:14px 0; border-bottom:1px solid #e2e8f0;\">\n                          <p style=\"margin:0 0 6px 0; color:#94a3b8; font-size:11px; text-transform:uppercase; letter-spacing:1px;\">AI Hiring Score</p>\n                          <table cellpadding=\"0\" cellspacing=\"0\">\n                            <tr>\n                              <td style=\"padding-right:12px;\">\n                                <p style=\"margin:0; color:#22c55e; font-size:28px; font-weight:700; line-height:1;\">{{ $('All profile & sort profiles').item.json.Hiring_Score }}<span style=\"color:#94a3b8; font-size:13px; font-weight:400;\"> / 100</span></p>\n                              </td>\n                              <td>\n                                <span style=\"display:inline-block; background-color:#f0fdf4; color:#15803d; font-size:12px; font-weight:700; padding:4px 12px; border-radius:20px; border:1px solid #bbf7d0;\">✓ &nbsp; Interview</span>\n                              </td>\n                            </tr>\n                          </table>\n                        </td>\n                      </tr>\n\n                      <!-- Insights -->\n                      <tr>\n                        <td style=\"padding:14px 0; border-bottom:1px solid #e2e8f0;\">\n                          <p style=\"margin:0 0 8px 0; color:#94a3b8; font-size:11px; text-transform:uppercase; letter-spacing:1px;\">AI Key Insights</p>\n                          <p style=\"margin:0; color:#475569; font-size:13px; line-height:1.9; white-space:pre-line;\">{{ $('All profile & sort profiles').item.json.Insights }}</p>\n                        </td>\n                      </tr>\n\n                      <!-- Resume Link -->\n                      <tr>\n                        <td style=\"padding-top:14px;\">\n                          <p style=\"margin:0 0 10px 0; color:#94a3b8; font-size:11px; text-transform:uppercase; letter-spacing:1px;\">Resume</p>\n                          <a href=\"{{ $('download binary').item.json.webViewLink }}\"\n                             style=\"display:inline-block; background-color:#3b82f6; color:#ffffff; font-size:13px; font-weight:700; text-decoration:none; padding:12px 24px; border-radius:6px;\">\n                            📄 &nbsp; View Full Resume on Google Drive →\n                          </a>\n                        </td>\n                      </tr>\n\n                    </table>\n                  </td>\n                </tr>\n              </table>\n\n              <!-- WHAT HAPPENS NEXT -->\n              <p style=\"margin:0 0 14px 0; color:#1e293b; font-size:15px; font-weight:700;\">What happens next:</p>\n              <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin-bottom:28px;\">\n                <tr>\n                  <td style=\"padding:8px 0; border-bottom:1px solid #f1f5f9;\">\n                    <table cellpadding=\"0\" cellspacing=\"0\"><tr>\n                      <td style=\"width:28px; color:#3b82f6; font-size:16px;\">→</td>\n                      <td style=\"color:#475569; font-size:14px;\">Candidate has received an automated interview invitation email</td>\n                    </tr></table>\n                  </td>\n                </tr>\n                <tr>\n                  <td style=\"padding:8px 0; border-bottom:1px solid #f1f5f9;\">\n                    <table cellpadding=\"0\" cellspacing=\"0\"><tr>\n                      <td style=\"width:28px; color:#3b82f6; font-size:16px;\">→</td>\n                      <td style=\"color:#475569; font-size:14px;\">They'll book a slot via Calendly — check your calendar for the booking</td>\n                    </tr></table>\n                  </td>\n                </tr>\n                <tr>\n                  <td style=\"padding:8px 0;\">\n                    <table cellpadding=\"0\" cellspacing=\"0\"><tr>\n                      <td style=\"width:28px; color:#3b82f6; font-size:16px;\">→</td>\n                      <td style=\"color:#475569; font-size:14px;\">Review their resume above before the scheduled interview</td>\n                    </tr></table>\n                  </td>\n                </tr>\n              </table>\n\n              <!-- SHEET LINK -->\n              <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background-color:#eff6ff; border:1px solid #bfdbfe; border-radius:8px; margin-bottom:32px;\">\n                <tr>\n                  <td style=\"padding:18px 24px;\">\n                    <table cellpadding=\"0\" cellspacing=\"0\"><tr>\n                      <td style=\"padding-right:14px; font-size:22px;\">📊</td>\n                      <td>\n                        <p style=\"margin:0 0 4px 0; color:#1e40af; font-size:12px; font-weight:700; text-transform:uppercase; letter-spacing:1px;\">Full Candidate Tracker</p>\n                        <a href=\"https://docs.google.com/spreadsheets/d/1LzpItjl8p9T9fkENUOMzw2BgbH8lTFK3-HXgCsnyDsY/edit?gid=857245978#gid=857245978\"\n                           style=\"color:#3b82f6; font-size:13px; text-decoration:none; font-weight:600;\">\n                          Open Interview Candidates Sheet →\n                        </a>\n                      </td>\n                    </tr></table>\n                  </td>\n                </tr>\n              </table>\n\n              <p style=\"margin:0 0 4px 0; color:#1e293b; font-size:14px; font-weight:600;\">Best regards,</p>\n              <p style=\"margin:0 0 4px 0; color:#1e293b; font-size:14px; font-weight:700;\">HireFlow ATS — Automated Pipeline</p>\n              <p style=\"margin:0; color:#94a3b8; font-size:13px;\">HR Department · HireFlow ATS</p>\n            </td>\n          </tr>\n\n          <!-- FOOTER -->\n          <tr>\n            <td style=\"background-color:#f8fafc; border-top:1px solid #e2e8f0; padding:24px 40px; text-align:center;\">\n              <p style=\"margin:0 0 6px 0; color:#000; font-size:14px; font-weight:700;\">\n                HIRE<span style=\"color:#3b82f6;\">FLOW</span>\n              </p>\n              <p style=\"margin:0; color:#94a3b8; font-size:12px;\">© 2026 HireFlow Systems. All rights reserved.</p>\n              <p style=\"margin:6px 0 0 0; color:#cbd5e1; font-size:11px;\">Don't reply to this email</p>\n            </td>\n          </tr>\n\n        </table>\n      </td>\n    </tr>\n  </table>\n\n</body>\n</html>",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        2368,
        400
      ],
      "id": "15ec8b67-a245-47e8-b715-3409dc28fffb",
      "name": "update to the team",
      "webhookId": "b1b02a83-987b-4773-8fb4-5a6c27239baf",
      "credentials": {
        "gmailOAuth2": {
          "id": "UYZ1Un9d3AMyMGb1",
          "name": "Gmail swaraj 1"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Webhook').item.json.body.email }}",
        "subject": "HIREFLOW_ATS",
        "message": "=<!DOCTYPE html> <html lang=\"en\"> <head>   <meta charset=\"UTF-8\" />   <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\"/>   <title>HireFlow - Application Under Review</title> </head> <body style=\"margin:0; padding:0; background-color:#f1f5f9; font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;\">    <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background-color:#f1f5f9; margin:0; padding:0;\">     <tr>       <td align=\"center\" style=\"padding:20px 0;\">         <table width=\"600\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background-color:#ffffff; border-radius:8px; overflow:hidden;\">            <!-- HEADER -->           <tr>             <td style=\"background-color:#0f172a; padding:22px 32px;\">               <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">                 <tr>                   <td>                     <span style=\"color:#ffffff; font-size:20px; font-weight:700; letter-spacing:1px; font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;\">HIRE<span style=\"color:#3b82f6;\">FLOW</span></span>                     <br/>                     <span style=\"color:#94a3b8; font-size:10px; letter-spacing:2px; text-transform:uppercase; font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;\">Applicant Tracking System</span>                   </td>                   <td align=\"right\">                     <span style=\"background-color:#1d4ed8; color:#ffffff; font-size:10px; font-weight:700; padding:5px 14px; border-radius:20px; letter-spacing:1px; text-transform:uppercase; font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;\">⏳ Under Review</span>                   </td>                 </tr>               </table>             </td>           </tr>            <!-- HERO BANNER -->           <tr>             <td style=\"background-color:#1e293b; padding:32px; text-align:center;\">               <div style=\"font-size:36px; margin:0 0 10px 0;\">🔍</div>               <div style=\"color:#ffffff; font-size:22px; font-weight:700; margin:0 0 8px 0; font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;\">Your Application is Being Reviewed</div>               <div style=\"color:#94a3b8; font-size:13px; line-height:1.6; font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;\">We've received your resume and our team is carefully going through it.<br/>We'll be in touch with an update very soon.</div>             </td>           </tr>            <!-- BODY -->           <tr>             <td style=\"padding:28px 32px; background-color:#ffffff;\">                <p style=\"margin:0 0 20px 0; color:#475569; font-size:14px; line-height:1.8; font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;\">                 Hi <strong style=\"color:#1e293b;\">{{ $('Webhook').item.json.body.name }}</strong>,               </p>                <p style=\"margin:0 0 20px 0; color:#475569; font-size:14px; line-height:1.8; font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;\">                 Thank you for applying to <strong style=\"color:#1e293b;\">HireFlow</strong>. We've successfully received your application and resume, and it's currently being reviewed by our hiring team.               </p>                <!-- STATUS CARD -->               <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background-color:#f8fafc; border:1px solid #e2e8f0; border-radius:8px; margin-bottom:24px;\">                 <tr>                   <td style=\"background-color:#0f172a; padding:11px 20px; border-radius:8px 8px 0 0;\">                     <span style=\"color:#94a3b8; font-size:10px; font-weight:700; text-transform:uppercase; letter-spacing:1.5px; font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;\">📋 &nbsp;Application Status</span>                   </td>                 </tr>                 <tr>                   <td style=\"padding:0;\">                     <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">                        <tr>                         <td style=\"padding:14px 20px; border-bottom:1px solid #e2e8f0;\">                           <span style=\"color:#94a3b8; font-size:10px; text-transform:uppercase; letter-spacing:1px; font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;\">Applicant</span><br/>                           <span style=\"color:#1e293b; font-size:13px; font-weight:600; font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;\">{{ $('Webhook').item.json.body.name }}</span>                         </td>                       </tr>                        <tr>                         <td style=\"padding:14px 20px; border-bottom:1px solid #e2e8f0;\">                           <span style=\"color:#94a3b8; font-size:10px; text-transform:uppercase; letter-spacing:1px; font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;\">Current Status</span><br/>                           <span style=\"background-color:#eff6ff; color:#1d4ed8; font-size:12px; font-weight:700; padding:4px 12px; border-radius:20px; border:1px solid #bfdbfe; font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;\">⏳ &nbsp;Under Review</span>                         </td>                       </tr>                        <tr>                         <td style=\"padding:14px 20px;\">                           <span style=\"color:#94a3b8; font-size:10px; text-transform:uppercase; letter-spacing:1px; font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;\">Expected Response</span><br/>                           <span style=\"color:#1e293b; font-size:13px; font-weight:600; font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;\">Within 3–5 business days</span>                         </td>                       </tr>                      </table>                   </td>                 </tr>               </table>                <!-- WHAT HAPPENS NEXT -->               <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"margin-bottom:24px;\">                 <tr>                   <td style=\"background-color:#eff6ff; border-left:4px solid #3b82f6; padding:16px 20px; border-radius:0 6px 6px 0;\">                     <span style=\"color:#1d4ed8; font-size:11px; font-weight:700; text-transform:uppercase; letter-spacing:1.5px; font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;\">What happens next?</span><br/><br/>                     <span style=\"color:#475569; font-size:13px; line-height:1.9; font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;\">                       ✦ &nbsp;Our hiring team will evaluate your profile against the role requirements<br/>                       ✦ &nbsp;You will receive a follow-up email with the final decision<br/>                       ✦ &nbsp;If shortlisted, we'll reach out to schedule an interview<br/>                       ✦ &nbsp;No need to reapply — your application is already in our system                     </span>                   </td>                 </tr>               </table>                <p style=\"margin:0 0 24px 0; color:#475569; font-size:14px; line-height:1.8; font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;\">                 We appreciate your patience and interest in joining our team. Every application is reviewed thoroughly — good things take a little time. 🙌               </p>                <p style=\"margin:0 0 4px 0; color:#1e293b; font-size:13px; font-weight:600; font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;\">Best regards,</p>               <p style=\"margin:0 0 2px 0; color:#1e293b; font-size:13px; font-weight:700; font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;\">The HireFlow Hiring Team</p>               <p style=\"margin:0; color:#94a3b8; font-size:12px; font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;\">HR Department · HireFlow ATS</p>              </td>           </tr>            <!-- FOOTER -->           <tr>             <td style=\"background-color:#f8fafc; border-top:1px solid #e2e8f0; padding:18px 32px; text-align:center;\">               <span style=\"color:#000000; font-size:13px; font-weight:700; font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;\">HIRE<span style=\"color:#3b82f6;\">FLOW</span></span><br/>               <span style=\"color:#94a3b8; font-size:11px; font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;\">© 2026 HireFlow Systems. All rights reserved.</span><br/>               <span style=\"color:#cbd5e1; font-size:10px; font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;\">Don't reply to this email</span>             </td>           </tr>          </table>       </td>     </tr>   </table>  </body> </html>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        2368,
        976
      ],
      "id": "b748d689-e839-4e0b-b4cc-29c59ca8e0d7",
      "name": "update candidate",
      "webhookId": "e0d07735-9b7a-4a04-a628-c6811d2f61d6",
      "credentials": {
        "gmailOAuth2": {
          "id": "UYZ1Un9d3AMyMGb1",
          "name": "Gmail swaraj 1"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "sendTo": "swarajshelke392@gmail.com",
        "subject": "review candidate",
        "message": "=<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <meta charset=\"UTF-8\" />\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\"/>\n  <title>HireFlow - Candidate Review Decision</title>\n</head>\n<body style=\"margin:0; padding:0; background-color:#f1f5f9; font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;\">\n\n  <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background-color:#f1f5f9; margin:0; padding:0;\">\n    <tr>\n      <td align=\"center\" style=\"padding:20px 0;\">\n        <table width=\"600\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background-color:#ffffff; border-radius:8px; overflow:hidden;\">\n\n          <!-- HEADER -->\n          <tr>\n            <td style=\"background-color:#0f172a; padding:22px 32px;\">\n              <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n                <tr>\n                  <td>\n                    <span style=\"color:#ffffff; font-size:20px; font-weight:700; letter-spacing:1px; font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;\">HIRE<span style=\"color:#3b82f6;\">FLOW</span></span>\n                    <br/>\n                    <span style=\"color:#94a3b8; font-size:10px; letter-spacing:2px; text-transform:uppercase; font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;\">Applicant Tracking System</span>\n                  </td>\n                  <td align=\"right\">\n                    <span style=\"background-color:#1d4ed8; color:#ffffff; font-size:10px; font-weight:700; padding:5px 14px; border-radius:20px; letter-spacing:1px; text-transform:uppercase; font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;\">⏳ Decision Required</span>\n                  </td>\n                </tr>\n              </table>\n            </td>\n          </tr>\n\n          <!-- HERO -->\n          <tr>\n            <td style=\"background-color:#1e293b; padding:28px 32px; text-align:center;\">\n              <div style=\"font-size:32px; margin:0 0 10px 0;\">🧠</div>\n              <div style=\"color:#ffffff; font-size:22px; font-weight:700; margin:0 0 8px 0; font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;\">Review Candidate — Your Call</div>\n              <div style=\"color:#94a3b8; font-size:13px; line-height:1.6; font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;\">This candidate scored in the review range. AI couldn't make a confident decision.<br/>Please review their profile and choose the next step.</div>\n            </td>\n          </tr>\n\n          <!-- BODY -->\n          <tr>\n            <td style=\"padding:28px 32px; background-color:#ffffff;\">\n\n              <p style=\"margin:0 0 20px 0; color:#475569; font-size:14px; line-height:1.8; font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;\">\n                Hi <strong style=\"color:#1e293b;\">Swaraj</strong>, a candidate has landed in the <strong style=\"color:#1d4ed8;\">Review</strong> bucket — meaning the AI scoring system wasn't confident enough to auto-decide. Your human judgment is needed.\n              </p>\n\n              <!-- CANDIDATE CARD -->\n              <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"border:1px solid #e2e8f0; border-radius:8px; margin-bottom:20px; overflow:hidden;\">\n                <tr>\n                  <td style=\"background-color:#0f172a; padding:11px 20px;\">\n                    <span style=\"color:#94a3b8; font-size:10px; font-weight:700; text-transform:uppercase; letter-spacing:1.5px; font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;\">👤 &nbsp;Candidate Profile</span>\n                  </td>\n                </tr>\n                <tr>\n                  <td style=\"background-color:#f8fafc; padding:0;\">\n                    <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n\n                      <!-- Contact -->\n                      <tr>\n                        <td style=\"padding:14px 20px; border-bottom:1px solid #e2e8f0;\">\n                          <span style=\"color:#94a3b8; font-size:10px; text-transform:uppercase; letter-spacing:1px; font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;\">Contact Information</span><br/>\n                          <span style=\"color:#1e293b; font-size:13px; font-weight:600; white-space:pre-line; font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;\">{{ $('All profile & sort profiles').item.json.Contact_Info }}</span>\n                        </td>\n                      </tr>\n\n                      <!-- Score -->\n                      <tr>\n                        <td style=\"padding:14px 20px; border-bottom:1px solid #e2e8f0;\">\n                          <span style=\"color:#94a3b8; font-size:10px; text-transform:uppercase; letter-spacing:1px; font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;\">AI Hiring Score</span><br/>\n                          <span style=\"color:#f59e0b; font-size:28px; font-weight:700; font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;\">{{ $('All profile & sort profiles').item.json.Hiring_Score }}</span>\n                          <span style=\"color:#94a3b8; font-size:12px; font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;\"> / 100 &nbsp;</span>\n                          <span style=\"background-color:#fffbeb; color:#d97706; font-size:11px; font-weight:700; padding:3px 10px; border-radius:20px; border:1px solid #fde68a; font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;\">⚠ Review Zone</span>\n                        </td>\n                      </tr>\n\n                      <!-- Insights -->\n                      <tr>\n                        <td style=\"padding:14px 20px; border-bottom:1px solid #e2e8f0;\">\n                          <span style=\"color:#94a3b8; font-size:10px; text-transform:uppercase; letter-spacing:1px; font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;\">AI Key Insights</span><br/>\n                          <span style=\"color:#475569; font-size:13px; line-height:1.9; white-space:pre-line; font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;\">{{ $('All profile & sort profiles').item.json.Insights }}</span>\n                        </td>\n                      </tr>\n\n                      <!-- Resume -->\n                      <tr>\n                        <td style=\"padding:14px 20px;\">\n                          <span style=\"color:#94a3b8; font-size:10px; text-transform:uppercase; letter-spacing:1px; font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;\">Resume</span><br/><br/>\n                          <a href=\"{{ $('download binary').item.json.webViewLink }}\" style=\"display:inline-block; background-color:#3b82f6; color:#ffffff; font-size:12px; font-weight:700; text-decoration:none; padding:10px 20px; border-radius:6px; font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;\">📄 &nbsp;View Resume on Google Drive →</a>\n                        </td>\n                      </tr>\n\n                    </table>\n                  </td>\n                </tr>\n              </table>\n\n              <!-- SHEETS LINK -->\n              <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background-color:#eff6ff; border:1px solid #bfdbfe; border-radius:8px; margin-bottom:20px;\">\n                <tr>\n                  <td style=\"padding:14px 20px;\">\n                    <span style=\"font-size:18px;\">📊</span>\n                    &nbsp;&nbsp;\n                    <a href=\"https://docs.google.com/spreadsheets/d/1LzpItjl8p9T9fkENUOMzw2BgbH8lTFK3-HXgCsnyDsY/edit?gid=461523695#gid=461523695\" style=\"color:#3b82f6; font-size:13px; font-weight:600; text-decoration:none; font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;\">View Review Candidates Sheet →</a>\n                  </td>\n                </tr>\n              </table>\n\n              <!-- DECISION LEGEND -->\n              <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"margin-bottom:24px; border-radius:8px; overflow:hidden;\">\n\n                <!-- Approve row -->\n                <tr>\n                  <td style=\"background-color:#f0fdf4; border:1px solid #bbf7d0; border-bottom:none; padding:16px 20px;\">\n                    <span style=\"color:#15803d; font-size:14px; font-weight:700; font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;\">✅ &nbsp;Approve</span><br/>\n                    <span style=\"color:#166534; font-size:12px; font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;\">Candidate moves forward — an <strong>Interview Invitation</strong> email will be sent to them automatically.</span>\n                  </td>\n                </tr>\n\n                <!-- Reject row -->\n                <tr>\n                  <td style=\"background-color:#fef2f2; border:1px solid #fecaca; padding:16px 20px;\">\n                    <span style=\"color:#dc2626; font-size:14px; font-weight:700; font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;\">❌ &nbsp;Dis-Approved</span><br/>\n                    <span style=\"color:#991b1b; font-size:12px; font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;\">Candidate is rejected — a <strong>Rejection email</strong> will be sent to them automatically.</span>\n                  </td>\n                </tr>\n\n              </table>\n\n              <p style=\"margin:0 0 2px 0; color:#1e293b; font-size:13px; font-weight:600; font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;\">Best regards,</p>\n              <p style=\"margin:0 0 2px 0; color:#1e293b; font-size:13px; font-weight:700; font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;\">HireFlow ATS — Automated Pipeline</p>\n              <p style=\"margin:0; color:#94a3b8; font-size:12px; font-family:'Helvetic Neue', Helvetica, Arial, sans-serif;\">HR Department · HireFlow ATS</p>\n\n            </td>\n          </tr>\n\n          <!-- FOOTER -->\n          <tr>\n            <td style=\"background-color:#f8fafc; border-top:1px solid #e2e8f0; padding:18px 32px; text-align:center;\">\n              <span style=\"color:#000000; font-size:13px; font-weight:700; font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;\">HIRE<span style=\"color:#3b82f6;\">FLOW</span></span><br/>\n              <span style=\"color:#94a3b8; font-size:11px; font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;\">© 2026 HireFlow Systems. All rights reserved.</span><br/>\n              <span style=\"color:#cbd5e1; font-size:10px; font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;\">Don't reply to this email</span>\n            </td>\n          </tr>\n\n        </table>\n      </td>\n    </tr>\n  </table>\n\n</body>\n</html>",
        "approvalOptions": {
          "values": {
            "approvalType": "double",
            "approveLabel": "Interview",
            "disapproveLabel": "Reject"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        2368,
        784
      ],
      "id": "a803fb84-c187-4de6-97b3-55e5045503b9",
      "name": "Send message and wait for response",
      "webhookId": "7589452c-e787-4bfd-b176-773e01ed0f48",
      "credentials": {
        "gmailOAuth2": {
          "id": "UYZ1Un9d3AMyMGb1",
          "name": "Gmail swaraj 1"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "f420484f-a6eb-44a0-9760-7eeeab501cd8",
              "leftValue": "={{ $json.data.approved }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2592,
        784
      ],
      "id": "fa99363a-a08c-4b5d-9f22-02ea18a2baf7",
      "name": "Interview/Reject"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Webhook').item.json.body.email }}",
        "subject": "HIREFLOW_ATS",
        "message": "=<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <meta charset=\"UTF-8\" />\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\"/>\n  <title>HireFlow - Application Update</title>\n</head>\n<body style=\"margin:0; padding:0; background-color:#f1f5f9; font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;\">\n\n  <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background-color:#f1f5f9; padding: 40px 0;\">\n    <tr>\n      <td align=\"center\">\n        <table width=\"600\" cellpadding=\"0\" cellspacing=\"0\" style=\"background-color:#ffffff; border-radius:8px; overflow:hidden; box-shadow: 0 4px 20px rgba(0,0,0,0.08);\">\n\n          <!-- HEADER -->\n          <tr>\n            <td style=\"background-color:#0f172a; padding: 28px 40px;\">\n              <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\">\n                <tr>\n                  <td>\n                    <h1 style=\"margin:0; color:#ffffff; font-size:22px; font-weight:700; letter-spacing:1px;\">\n                      HIRE<span style=\"color:#3b82f6;\">FLOW</span>\n                    </h1>\n                    <p style=\"margin:4px 0 0 0; color:#94a3b8; font-size:11px; letter-spacing:2px; text-transform:uppercase;\">Applicant Tracking System</p>\n                  </td>\n                  <td align=\"right\">\n                    <span style=\"background-color:#475569; color:#ffffff; font-size:11px; font-weight:700; padding:6px 14px; border-radius:20px; letter-spacing:1px; text-transform:uppercase;\">\n                      Application Update\n                    </span>\n                  </td>\n                </tr>\n              </table>\n            </td>\n          </tr>\n\n          <!-- HERO BANNER -->\n          <tr>\n            <td style=\"background: linear-gradient(135deg, #1e293b 0%, #334155 100%); padding: 40px 40px 36px 40px; text-align:center;\">\n              <p style=\"margin:0 0 10px 0; font-size:32px;\">📬</p>\n              <h2 style=\"margin:0 0 10px 0; color:#ffffff; font-size:26px; font-weight:700;\">Thank You for Applying</h2>\n              <p style=\"margin:0; color:#cbd5e1; font-size:15px;\">We appreciate your time and interest in HireFlow</p>\n            </td>\n          </tr>\n\n          <!-- BODY -->\n          <tr>\n            <td style=\"padding: 40px 40px 20px 40px;\">\n              <p style=\"margin:0 0 20px 0; color:#1e293b; font-size:16px; font-weight:600;\">\n                Hi {{ $('Webhook').item.json.body.name }}, 👋\n              </p>\n\n              <p style=\"margin:0 0 16px 0; color:#475569; font-size:15px; line-height:1.7;\">\n                Thank you for giving us the opportunity to review your application for the\n                <strong style=\"color:#1e293b;\">AI &amp; Automation Specialist – Learning &amp; Design</strong> role at HireFlow.\n              </p>\n\n              <p style=\"margin:0 0 28px 0; color:#475569; font-size:15px; line-height:1.7;\">\n                We truly appreciate the time and effort you put into sharing your background with us. After careful consideration, we've decided not to move forward with your application at this time.\n              </p>\n\n              <!-- FEEDBACK BLOCK -->\n              <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin-bottom:28px;\">\n                <tr>\n                  <td style=\"background-color:#f8fafc; border-left:4px solid #3b82f6; border-radius:0 8px 8px 0; padding:24px 24px;\">\n                    <p style=\"margin:0 0 10px 0; color:#3b82f6; font-size:11px; font-weight:700; text-transform:uppercase; letter-spacing:1.5px;\">📝 &nbsp; Feedback from our Review Team</p>\n                    <p style=\"margin:0; color:#475569; font-size:14px; line-height:1.8; font-style:italic;\">\n                      \"{{ $('All profile & sort profiles').item.json.Feedback }}\"\n                    </p>\n                  </td>\n                </tr>\n              </table>\n\n              <!-- WHAT'S NEXT -->\n              <p style=\"margin:0 0 14px 0; color:#1e293b; font-size:15px; font-weight:700;\">What you can do next:</p>\n              <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin-bottom:32px;\">\n                <tr>\n                  <td style=\"padding:8px 0; border-bottom:1px solid #f1f5f9;\">\n                    <table cellpadding=\"0\" cellspacing=\"0\"><tr>\n                      <td style=\"width:28px; color:#3b82f6; font-size:16px;\">→</td>\n                      <td style=\"color:#475569; font-size:14px;\">Build projects using Python, n8n, or AI automation tools</td>\n                    </tr></table>\n                  </td>\n                </tr>\n                <tr>\n                  <td style=\"padding:8px 0; border-bottom:1px solid #f1f5f9;\">\n                    <table cellpadding=\"0\" cellspacing=\"0\"><tr>\n                      <td style=\"width:28px; color:#3b82f6; font-size:16px;\">→</td>\n                      <td style=\"color:#475569; font-size:14px;\">Strengthen the areas mentioned in the feedback above</td>\n                    </tr></table>\n                  </td>\n                </tr>\n                <tr>\n                  <td style=\"padding:8px 0;\">\n                    <table cellpadding=\"0\" cellspacing=\"0\"><tr>\n                      <td style=\"width:28px; color:#3b82f6; font-size:16px;\">→</td>\n                      <td style=\"color:#475569; font-size:14px;\">Apply again in the future — we'd love to reconsider!</td>\n                    </tr></table>\n                  </td>\n                </tr>\n              </table>\n\n              <!-- CLOSING NOTE -->\n              <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background-color:#eff6ff; border:1px solid #bfdbfe; border-radius:8px; margin-bottom:32px;\">\n                <tr>\n                  <td style=\"padding:18px 24px;\">\n                    <table cellpadding=\"0\" cellspacing=\"0\"><tr>\n                      <td style=\"padding-right:14px; font-size:22px;\">💡</td>\n                      <td style=\"color:#1e40af; font-size:13px; line-height:1.7;\">\n                        This decision is specific to our <strong>current needs</strong> for this role. Please don't be discouraged — growth is a journey, and we genuinely wish you the very best in it.\n                      </td>\n                    </tr></table>\n                  </td>\n                </tr>\n              </table>\n\n              <p style=\"margin:0 0 6px 0; color:#475569; font-size:15px; line-height:1.7;\">\n                We wish you every success in your job search and future professional endeavors.\n              </p>\n              <p style=\"margin:0 0 32px 0; color:#475569; font-size:15px; line-height:1.7;\">\n                Keep building. Keep growing. 🌱\n              </p>\n\n              <p style=\"margin:0 0 4px 0; color:#1e293b; font-size:14px; font-weight:600;\">Best regards,</p>\n              <p style=\"margin:0 0 4px 0; color:#1e293b; font-size:14px; font-weight:700;\">The HireFlow Recruiting Team</p>\n              <p style=\"margin:0; color:#94a3b8; font-size:13px;\">HR Department · HireFlow ATS</p>\n            </td>\n          </tr>\n\n          <!-- FOOTER -->\n          <tr>\n            <td style=\"background-color:#f8fafc; border-top:1px solid #e2e8f0; padding:24px 40px; text-align:center;\">\n              <p style=\"margin:0 0 6px 0; color:#000; font-size:14px; font-weight:700;\">\n                HIRE<span style=\"color:#3b82f6;\">FLOW</span>\n              </p>\n              <p style=\"margin:0; color:#94a3b8; font-size:12px;\">© 2026 HireFlow Systems. All rights reserved.</p>\n              <p style=\"margin:6px 0 0 0; color:#cbd5e1; font-size:11px;\">Don't reply to this email</p>\n            </td>\n          </tr>\n\n        </table>\n      </td>\n    </tr>\n  </table>\n\n</body>\n</html>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        2816,
        848
      ],
      "id": "c680d982-2f6d-4372-852e-54a7c5fea527",
      "name": "Reject email",
      "webhookId": "bd5107ef-b5d2-4d51-9df9-83b616eebede",
      "credentials": {
        "gmailOAuth2": {
          "id": "UYZ1Un9d3AMyMGb1",
          "name": "Gmail swaraj 1"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Webhook').item.json.body.email }}",
        "subject": "HIREFLOW_ATS",
        "message": "=<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <meta charset=\"UTF-8\" />\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\"/>\n  <title>HireFlow - Interview Invitation</title>\n</head>\n<body style=\"margin:0; padding:0; background-color:#f1f5f9; font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;\">\n\n  <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background-color:#f1f5f9; padding: 40px 0;\">\n    <tr>\n      <td align=\"center\">\n        <table width=\"600\" cellpadding=\"0\" cellspacing=\"0\" style=\"background-color:#ffffff; border-radius:8px; overflow:hidden; box-shadow: 0 4px 20px rgba(0,0,0,0.08);\">\n\n          <!-- HEADER -->\n          <tr>\n            <td style=\"background-color:#0f172a; padding: 28px 40px;\">\n              <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\">\n                <tr>\n                  <td>\n                    <h1 style=\"margin:0; color:#ffffff; font-size:22px; font-weight:700; letter-spacing:1px;\">\n                      HIRE<span style=\"color:#3b82f6;\">FLOW</span>\n                    </h1>\n                    <p style=\"margin:4px 0 0 0; color:#94a3b8; font-size:11px; letter-spacing:2px; text-transform:uppercase;\">Applicant Tracking System</p>\n                  </td>\n                  <td align=\"right\">\n                    <span style=\"background-color:#22c55e; color:#ffffff; font-size:11px; font-weight:700; padding:6px 14px; border-radius:20px; letter-spacing:1px; text-transform:uppercase;\">\n                      ✓ Selected\n                    </span>\n                  </td>\n                </tr>\n              </table>\n            </td>\n          </tr>\n\n          <!-- HERO BANNER -->\n          <tr>\n            <td style=\"background: linear-gradient(135deg, #1e3a5f 0%, #1d4ed8 100%); padding: 40px 40px 36px 40px; text-align:center;\">\n              <p style=\"margin:0 0 10px 0; font-size:32px;\">🎉</p>\n              <h2 style=\"margin:0 0 10px 0; color:#ffffff; font-size:26px; font-weight:700;\">You're Moving Forward!</h2>\n              <p style=\"margin:0; color:#bfdbfe; font-size:15px;\">We'd love to invite you for an interview</p>\n            </td>\n          </tr>\n\n          <!-- BODY -->\n          <tr>\n            <td style=\"padding: 40px 40px 20px 40px;\">\n              <p style=\"margin:0 0 20px 0; color:#1e293b; font-size:16px; font-weight:600;\">\n                Hi {{ $('Webhook').item.json.body.name }}, 👋\n              </p>\n\n              <p style=\"margin:0 0 16px 0; color:#475569; font-size:15px; line-height:1.7;\">\n                Thank you for applying for the <strong style=\"color:#1e293b;\">AI &amp; Automation Specialist – Learning &amp; Design</strong> role at HireFlow.\n              </p>\n\n              <p style=\"margin:0 0 28px 0; color:#475569; font-size:15px; line-height:1.7;\">\n                After carefully reviewing your application, we're excited to let you know that your profile stood out — and we'd love to get to know you better in a 1-on-1 conversation.\n              </p>\n\n              <!-- SCORE BADGE (optional visual touch) -->\n              <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background-color:#f0fdf4; border:1px solid #bbf7d0; border-radius:8px; margin-bottom:28px;\">\n                <tr>\n                  <td style=\"padding:20px 24px;\">\n                    <table cellpadding=\"0\" cellspacing=\"0\">\n                      <tr>\n                        <td style=\"padding-right:16px; font-size:28px;\">📋</td>\n                        <td>\n                          <p style=\"margin:0 0 4px 0; color:#15803d; font-size:13px; font-weight:700; text-transform:uppercase; letter-spacing:1px;\">Application Status</p>\n                          <p style=\"margin:0; color:#166534; font-size:15px; font-weight:600;\">Recommended for Interview ✓</p>\n                        </td>\n                      </tr>\n                    </table>\n                  </td>\n                </tr>\n              </table>\n\n              <!-- WHAT TO EXPECT -->\n              <p style=\"margin:0 0 14px 0; color:#1e293b; font-size:15px; font-weight:700;\">What to expect in the interview:</p>\n              <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin-bottom:28px;\">\n                <tr>\n                  <td style=\"padding:8px 0; border-bottom:1px solid #f1f5f9;\">\n                    <table cellpadding=\"0\" cellspacing=\"0\"><tr>\n                      <td style=\"width:28px; color:#3b82f6; font-size:16px;\">→</td>\n                      <td style=\"color:#475569; font-size:14px;\">A short intro chat about your background &amp; projects</td>\n                    </tr></table>\n                  </td>\n                </tr>\n                <tr>\n                  <td style=\"padding:8px 0; border-bottom:1px solid #f1f5f9;\">\n                    <table cellpadding=\"0\" cellspacing=\"0\"><tr>\n                      <td style=\"width:28px; color:#3b82f6; font-size:16px;\">→</td>\n                      <td style=\"color:#475569; font-size:14px;\">Discussion on AI automation workflows &amp; your approach</td>\n                    </tr></table>\n                  </td>\n                </tr>\n                <tr>\n                  <td style=\"padding:8px 0;\">\n                    <table cellpadding=\"0\" cellspacing=\"0\"><tr>\n                      <td style=\"width:28px; color:#3b82f6; font-size:16px;\">→</td>\n                      <td style=\"color:#475569; font-size:14px;\">A chance for you to ask us anything about the role</td>\n                    </tr></table>\n                  </td>\n                </tr>\n              </table>\n\n              <!-- CTA BUTTON -->\n              <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin-bottom:32px;\">\n                <tr>\n                  <td align=\"center\">\n                    <a href=\"https://calendly.com/swarajshelke/1-1-meeting\"\n                       style=\"display:inline-block; background-color:#3b82f6; color:#ffffff; font-size:15px; font-weight:700; text-decoration:none; padding:16px 40px; border-radius:6px; letter-spacing:0.5px;\">\n                      📅 &nbsp; Book Your Interview Slot\n                    </a>\n                  </td>\n                </tr>\n                <tr>\n                  <td align=\"center\" style=\"padding-top:10px;\">\n                    <p style=\"margin:0; color:#94a3b8; font-size:12px;\">Pick a time that works best for you via Calendly</p>\n                  </td>\n                </tr>\n              </table>\n\n              <p style=\"margin:0 0 6px 0; color:#475569; font-size:15px; line-height:1.7;\">\n                We're looking forward to connecting with you. If you have any questions before then, feel free to reply to this email.\n              </p>\n              <p style=\"margin:0 0 32px 0; color:#475569; font-size:15px; line-height:1.7;\">\n                See you soon! 🚀\n              </p>\n\n              <p style=\"margin:0 0 4px 0; color:#1e293b; font-size:14px; font-weight:600;\">Best regards,</p>\n              <p style=\"margin:0 0 4px 0; color:#1e293b; font-size:14px; font-weight:700;\">The HireFlow Recruiting Team</p>\n              <p style=\"margin:0; color:#94a3b8; font-size:13px;\">HR Department · HireFlow ATS</p>\n            </td>\n          </tr>\n\n          <!-- FOOTER -->\n          <tr>\n            <td style=\"background-color:#f8fafc; border-top:1px solid #e2e8f0; padding:24px 40px; text-align:center;\">\n              <p style=\"margin:0 0 6px 0; color:#000; font-size:14px; font-weight:700;\">\n                HIRE<span style=\"color:#3b82f6;\">FLOW</span>\n              </p>\n              <p style=\"margin:0; color:#94a3b8; font-size:12px;\">© 2026 HireFlow Systems. All rights reserved.</p>\n              <p style=\"margin:6px 0 0 0; color:#cbd5e1; font-size:11px;\">Don't reply to this email</p>\n            </td>\n          </tr>\n\n        </table>\n      </td>\n    </tr>\n  </table>\n\n</body>\n</html>",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        2816,
        656
      ],
      "id": "ee2900f1-6096-4aba-a165-203f9007ff2b",
      "name": "Interview email",
      "webhookId": "bdc13f47-f822-4d72-b2db-421dff804d0e",
      "credentials": {
        "gmailOAuth2": {
          "id": "UYZ1Un9d3AMyMGb1",
          "name": "Gmail swaraj 1"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Webhook').item.json.body.email }}",
        "subject": "=HIREFLOW_ATS",
        "message": "=<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <meta charset=\"UTF-8\" />\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\"/>\n  <title>HireFlow - Interview Invitation</title>\n</head>\n<body style=\"margin:0; padding:0; background-color:#f1f5f9; font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;\">\n\n  <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background-color:#f1f5f9; padding: 40px 0;\">\n    <tr>\n      <td align=\"center\">\n        <table width=\"600\" cellpadding=\"0\" cellspacing=\"0\" style=\"background-color:#ffffff; border-radius:8px; overflow:hidden; box-shadow: 0 4px 20px rgba(0,0,0,0.08);\">\n\n          <!-- HEADER -->\n          <tr>\n            <td style=\"background-color:#0f172a; padding: 28px 40px;\">\n              <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\">\n                <tr>\n                  <td>\n                    <h1 style=\"margin:0; color:#ffffff; font-size:22px; font-weight:700; letter-spacing:1px;\">\n                      HIRE<span style=\"color:#3b82f6;\">FLOW</span>\n                    </h1>\n                    <p style=\"margin:4px 0 0 0; color:#94a3b8; font-size:11px; letter-spacing:2px; text-transform:uppercase;\">Applicant Tracking System</p>\n                  </td>\n                  <td align=\"right\">\n                    <span style=\"background-color:#22c55e; color:#ffffff; font-size:11px; font-weight:700; padding:6px 14px; border-radius:20px; letter-spacing:1px; text-transform:uppercase;\">\n                      ✓ Selected\n                    </span>\n                  </td>\n                </tr>\n              </table>\n            </td>\n          </tr>\n\n          <!-- HERO BANNER -->\n          <tr>\n            <td style=\"background: linear-gradient(135deg, #1e3a5f 0%, #1d4ed8 100%); padding: 40px 40px 36px 40px; text-align:center;\">\n              <p style=\"margin:0 0 10px 0; font-size:32px;\">🎉</p>\n              <h2 style=\"margin:0 0 10px 0; color:#ffffff; font-size:26px; font-weight:700;\">You're Moving Forward!</h2>\n              <p style=\"margin:0; color:#bfdbfe; font-size:15px;\">We'd love to invite you for an interview</p>\n            </td>\n          </tr>\n\n          <!-- BODY -->\n          <tr>\n            <td style=\"padding: 40px 40px 20px 40px;\">\n              <p style=\"margin:0 0 20px 0; color:#1e293b; font-size:16px; font-weight:600;\">\n                Hi {{ $('Webhook').item.json.body.name }}, 👋\n              </p>\n\n              <p style=\"margin:0 0 16px 0; color:#475569; font-size:15px; line-height:1.7;\">\n                Thank you for applying for the <strong style=\"color:#1e293b;\">AI &amp; Automation Specialist – Learning &amp; Design</strong> role at HireFlow.\n              </p>\n\n              <p style=\"margin:0 0 28px 0; color:#475569; font-size:15px; line-height:1.7;\">\n                After carefully reviewing your application, we're excited to let you know that your profile stood out — and we'd love to get to know you better in a 1-on-1 conversation.\n              </p>\n\n              <!-- SCORE BADGE (optional visual touch) -->\n              <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background-color:#f0fdf4; border:1px solid #bbf7d0; border-radius:8px; margin-bottom:28px;\">\n                <tr>\n                  <td style=\"padding:20px 24px;\">\n                    <table cellpadding=\"0\" cellspacing=\"0\">\n                      <tr>\n                        <td style=\"padding-right:16px; font-size:28px;\">📋</td>\n                        <td>\n                          <p style=\"margin:0 0 4px 0; color:#15803d; font-size:13px; font-weight:700; text-transform:uppercase; letter-spacing:1px;\">Application Status</p>\n                          <p style=\"margin:0; color:#166534; font-size:15px; font-weight:600;\">Recommended for Interview ✓</p>\n                        </td>\n                      </tr>\n                    </table>\n                  </td>\n                </tr>\n              </table>\n\n              <!-- WHAT TO EXPECT -->\n              <p style=\"margin:0 0 14px 0; color:#1e293b; font-size:15px; font-weight:700;\">What to expect in the interview:</p>\n              <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin-bottom:28px;\">\n                <tr>\n                  <td style=\"padding:8px 0; border-bottom:1px solid #f1f5f9;\">\n                    <table cellpadding=\"0\" cellspacing=\"0\"><tr>\n                      <td style=\"width:28px; color:#3b82f6; font-size:16px;\">→</td>\n                      <td style=\"color:#475569; font-size:14px;\">A short intro chat about your background &amp; projects</td>\n                    </tr></table>\n                  </td>\n                </tr>\n                <tr>\n                  <td style=\"padding:8px 0; border-bottom:1px solid #f1f5f9;\">\n                    <table cellpadding=\"0\" cellspacing=\"0\"><tr>\n                      <td style=\"width:28px; color:#3b82f6; font-size:16px;\">→</td>\n                      <td style=\"color:#475569; font-size:14px;\">Discussion on AI automation workflows &amp; your approach</td>\n                    </tr></table>\n                  </td>\n                </tr>\n                <tr>\n                  <td style=\"padding:8px 0;\">\n                    <table cellpadding=\"0\" cellspacing=\"0\"><tr>\n                      <td style=\"width:28px; color:#3b82f6; font-size:16px;\">→</td>\n                      <td style=\"color:#475569; font-size:14px;\">A chance for you to ask us anything about the role</td>\n                    </tr></table>\n                  </td>\n                </tr>\n              </table>\n\n              <!-- CTA BUTTON -->\n              <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin-bottom:32px;\">\n                <tr>\n                  <td align=\"center\">\n                    <a href=\"https://calendly.com/swarajshelke/1-1-meeting\"\n                       style=\"display:inline-block; background-color:#3b82f6; color:#ffffff; font-size:15px; font-weight:700; text-decoration:none; padding:16px 40px; border-radius:6px; letter-spacing:0.5px;\">\n                      📅 &nbsp; Book Your Interview Slot\n                    </a>\n                  </td>\n                </tr>\n                <tr>\n                  <td align=\"center\" style=\"padding-top:10px;\">\n                    <p style=\"margin:0; color:#94a3b8; font-size:12px;\">Pick a time that works best for you via Calendly</p>\n                  </td>\n                </tr>\n              </table>\n\n              <p style=\"margin:0 0 6px 0; color:#475569; font-size:15px; line-height:1.7;\">\n                We're looking forward to connecting with you. If you have any questions before then, feel free to reply to this email.\n              </p>\n              <p style=\"margin:0 0 32px 0; color:#475569; font-size:15px; line-height:1.7;\">\n                See you soon! 🚀\n              </p>\n\n              <p style=\"margin:0 0 4px 0; color:#1e293b; font-size:14px; font-weight:600;\">Best regards,</p>\n              <p style=\"margin:0 0 4px 0; color:#1e293b; font-size:14px; font-weight:700;\">The HireFlow Recruiting Team</p>\n              <p style=\"margin:0; color:#94a3b8; font-size:13px;\">HR Department · HireFlow ATS</p>\n            </td>\n          </tr>\n\n          <!-- FOOTER -->\n          <tr>\n            <td style=\"background-color:#f8fafc; border-top:1px solid #e2e8f0; padding:24px 40px; text-align:center;\">\n              <p style=\"margin:0 0 6px 0; color:#000; font-size:14px; font-weight:700;\">\n                HIRE<span style=\"color:#3b82f6;\">FLOW</span>\n              </p>\n              <p style=\"margin:0; color:#94a3b8; font-size:12px;\">© 2026 HireFlow Systems. All rights reserved.</p>\n              <p style=\"margin:6px 0 0 0; color:#cbd5e1; font-size:11px;\">Don't reply to this email</p>\n            </td>\n          </tr>\n\n        </table>\n      </td>\n    </tr>\n  </table>\n\n</body>\n</html>",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        2368,
        592
      ],
      "id": "dca84f9e-dae0-4af1-b82e-91cad7910da9",
      "name": "Interview email update",
      "webhookId": "b1b02a83-987b-4773-8fb4-5a6c27239baf",
      "credentials": {
        "gmailOAuth2": {
          "id": "UYZ1Un9d3AMyMGb1",
          "name": "Gmail swaraj 1"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Webhook').item.json.body.email }}",
        "subject": "HIREFLOW_ATS",
        "message": "=<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <meta charset=\"UTF-8\" />\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\"/>\n  <title>HireFlow - Application Update</title>\n</head>\n<body style=\"margin:0; padding:0; background-color:#f1f5f9; font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;\">\n\n  <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background-color:#f1f5f9; padding: 40px 0;\">\n    <tr>\n      <td align=\"center\">\n        <table width=\"600\" cellpadding=\"0\" cellspacing=\"0\" style=\"background-color:#ffffff; border-radius:8px; overflow:hidden; box-shadow: 0 4px 20px rgba(0,0,0,0.08);\">\n\n          <!-- HEADER -->\n          <tr>\n            <td style=\"background-color:#0f172a; padding: 28px 40px;\">\n              <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\">\n                <tr>\n                  <td>\n                    <h1 style=\"margin:0; color:#ffffff; font-size:22px; font-weight:700; letter-spacing:1px;\">\n                      HIRE<span style=\"color:#3b82f6;\">FLOW</span>\n                    </h1>\n                    <p style=\"margin:4px 0 0 0; color:#94a3b8; font-size:11px; letter-spacing:2px; text-transform:uppercase;\">Applicant Tracking System</p>\n                  </td>\n                  <td align=\"right\">\n                    <span style=\"background-color:#475569; color:#ffffff; font-size:11px; font-weight:700; padding:6px 14px; border-radius:20px; letter-spacing:1px; text-transform:uppercase;\">\n                      Application Update\n                    </span>\n                  </td>\n                </tr>\n              </table>\n            </td>\n          </tr>\n\n          <!-- HERO BANNER -->\n          <tr>\n            <td style=\"background: linear-gradient(135deg, #1e293b 0%, #334155 100%); padding: 40px 40px 36px 40px; text-align:center;\">\n              <p style=\"margin:0 0 10px 0; font-size:32px;\">📬</p>\n              <h2 style=\"margin:0 0 10px 0; color:#ffffff; font-size:26px; font-weight:700;\">Thank You for Applying</h2>\n              <p style=\"margin:0; color:#cbd5e1; font-size:15px;\">We appreciate your time and interest in HireFlow</p>\n            </td>\n          </tr>\n\n          <!-- BODY -->\n          <tr>\n            <td style=\"padding: 40px 40px 20px 40px;\">\n              <p style=\"margin:0 0 20px 0; color:#1e293b; font-size:16px; font-weight:600;\">\n                Hi {{ $('Webhook').item.json.body.name }}, 👋\n              </p>\n\n              <p style=\"margin:0 0 16px 0; color:#475569; font-size:15px; line-height:1.7;\">\n                Thank you for giving us the opportunity to review your application for the\n                <strong style=\"color:#1e293b;\">AI &amp; Automation Specialist – Learning &amp; Design</strong> role at HireFlow.\n              </p>\n\n              <p style=\"margin:0 0 28px 0; color:#475569; font-size:15px; line-height:1.7;\">\n                We truly appreciate the time and effort you put into sharing your background with us. After careful consideration, we've decided not to move forward with your application at this time.\n              </p>\n\n              <!-- FEEDBACK BLOCK -->\n              <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin-bottom:28px;\">\n                <tr>\n                  <td style=\"background-color:#f8fafc; border-left:4px solid #3b82f6; border-radius:0 8px 8px 0; padding:24px 24px;\">\n                    <p style=\"margin:0 0 10px 0; color:#3b82f6; font-size:11px; font-weight:700; text-transform:uppercase; letter-spacing:1.5px;\">📝 &nbsp; Feedback from our Review Team</p>\n                    <p style=\"margin:0; color:#475569; font-size:14px; line-height:1.8; font-style:italic;\">\n                      \"{{ $('All profile & sort profiles').item.json.Feedback }}\"\n                    </p>\n                  </td>\n                </tr>\n              </table>\n\n              <!-- WHAT'S NEXT -->\n              <p style=\"margin:0 0 14px 0; color:#1e293b; font-size:15px; font-weight:700;\">What you can do next:</p>\n              <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin-bottom:32px;\">\n                <tr>\n                  <td style=\"padding:8px 0; border-bottom:1px solid #f1f5f9;\">\n                    <table cellpadding=\"0\" cellspacing=\"0\"><tr>\n                      <td style=\"width:28px; color:#3b82f6; font-size:16px;\">→</td>\n                      <td style=\"color:#475569; font-size:14px;\">Build projects using Python, n8n, or AI automation tools</td>\n                    </tr></table>\n                  </td>\n                </tr>\n                <tr>\n                  <td style=\"padding:8px 0; border-bottom:1px solid #f1f5f9;\">\n                    <table cellpadding=\"0\" cellspacing=\"0\"><tr>\n                      <td style=\"width:28px; color:#3b82f6; font-size:16px;\">→</td>\n                      <td style=\"color:#475569; font-size:14px;\">Strengthen the areas mentioned in the feedback above</td>\n                    </tr></table>\n                  </td>\n                </tr>\n                <tr>\n                  <td style=\"padding:8px 0;\">\n                    <table cellpadding=\"0\" cellspacing=\"0\"><tr>\n                      <td style=\"width:28px; color:#3b82f6; font-size:16px;\">→</td>\n                      <td style=\"color:#475569; font-size:14px;\">Apply again in the future — we'd love to reconsider!</td>\n                    </tr></table>\n                  </td>\n                </tr>\n              </table>\n\n              <!-- CLOSING NOTE -->\n              <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background-color:#eff6ff; border:1px solid #bfdbfe; border-radius:8px; margin-bottom:32px;\">\n                <tr>\n                  <td style=\"padding:18px 24px;\">\n                    <table cellpadding=\"0\" cellspacing=\"0\"><tr>\n                      <td style=\"padding-right:14px; font-size:22px;\">💡</td>\n                      <td style=\"color:#1e40af; font-size:13px; line-height:1.7;\">\n                        This decision is specific to our <strong>current needs</strong> for this role. Please don't be discouraged — growth is a journey, and we genuinely wish you the very best in it.\n                      </td>\n                    </tr></table>\n                  </td>\n                </tr>\n              </table>\n\n              <p style=\"margin:0 0 6px 0; color:#475569; font-size:15px; line-height:1.7;\">\n                We wish you every success in your job search and future professional endeavors.\n              </p>\n              <p style=\"margin:0 0 32px 0; color:#475569; font-size:15px; line-height:1.7;\">\n                Keep building. Keep growing. 🌱\n              </p>\n\n              <p style=\"margin:0 0 4px 0; color:#1e293b; font-size:14px; font-weight:600;\">Best regards,</p>\n              <p style=\"margin:0 0 4px 0; color:#1e293b; font-size:14px; font-weight:700;\">The HireFlow Recruiting Team</p>\n              <p style=\"margin:0; color:#94a3b8; font-size:13px;\">HR Department · HireFlow ATS</p>\n            </td>\n          </tr>\n\n          <!-- FOOTER -->\n          <tr>\n            <td style=\"background-color:#f8fafc; border-top:1px solid #e2e8f0; padding:24px 40px; text-align:center;\">\n              <p style=\"margin:0 0 6px 0; color:#000; font-size:14px; font-weight:700;\">\n                HIRE<span style=\"color:#3b82f6;\">FLOW</span>\n              </p>\n              <p style=\"margin:0; color:#94a3b8; font-size:12px;\">© 2026 HireFlow Systems. All rights reserved.</p>\n              <p style=\"margin:6px 0 0 0; color:#cbd5e1; font-size:11px;\">Don't reply to this email</p>\n            </td>\n          </tr>\n\n        </table>\n      </td>\n    </tr>\n  </table>\n\n</body>\n</html>",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        2432,
        1168
      ],
      "id": "c151fbad-92cc-47de-b215-06c0ea6326b3",
      "name": "Rejected email",
      "webhookId": "bdc13f47-f822-4d72-b2db-421dff804d0e",
      "credentials": {
        "gmailOAuth2": {
          "id": "UYZ1Un9d3AMyMGb1",
          "name": "Gmail swaraj 1"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent for PDF reviews": {
      "main": [
        [
          {
            "node": "Final fields to add",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pdf or not?": {
      "main": [
        [
          {
            "node": "Extract from PDF",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Only png",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent for image": {
      "main": [
        [
          {
            "node": "Final fields to add",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image analyze": {
      "main": [
        [
          {
            "node": "Agent for image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from PDF": {
      "main": [
        [
          {
            "node": "<100 sort",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Agent for PDF reviews",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Analyze an image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze an image": {
      "main": [
        [
          {
            "node": "Normalize the text of gemini",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize the text": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize the text of gemini": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Agent for PDF reviews",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Final fields to add": {
      "main": [
        [
          {
            "node": "All profile & sort profiles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file": {
      "main": [
        [
          {
            "node": "download binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "download binary": {
      "main": [
        [
          {
            "node": "Pdf or not?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "All profile & sort profiles": {
      "main": [
        [
          {
            "node": "All candidates",
            "type": "main",
            "index": 0
          },
          {
            "node": "Sorting profiles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sorting profiles": {
      "main": [
        [
          {
            "node": "Interview candidates",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Review candidates",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reject Candidate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "All candidates": {
      "main": [
        []
      ]
    },
    "<100 sort": {
      "main": [
        [
          {
            "node": "Normalize the text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Only png": {
      "main": [
        [
          {
            "node": "Image analyze",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reject Candidate": {
      "main": [
        [
          {
            "node": "Rejected email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Agent for image",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Interview candidates": {
      "main": [
        [
          {
            "node": "Interview email update",
            "type": "main",
            "index": 0
          },
          {
            "node": "update to the team",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Review candidates": {
      "main": [
        [
          {
            "node": "update candidate",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send message and wait for response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update candidate": {
      "main": [
        []
      ]
    },
    "Interview/Reject": {
      "main": [
        [
          {
            "node": "Interview email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reject email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send message and wait for response": {
      "main": [
        [
          {
            "node": "Interview/Reject",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "305eeefa-042b-4e37-90da-8b45f93411bd",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ede2a1723ff2c9a76eefabde4eb2ad1dd03725eba54d7dc23a2039bda2e2dc3e"
  },
  "id": "oQUFPOjSAEekLwup",
  "tags": []
}